<!--For HTML-->
<template>
  <div>
    {{msg}}
    {{ count }}
    <br />
    <button @click="Increment">Increment</button>
    <button @click="Decrement">Decrement</button>
  </div>
</template>



<!--For Scripting-->
<script>
export default {

  name: "HelloWorld",
  
  props: {
    msg: String
  },

  data() {
    return {
      count: 0
    };
  },

  methods: {
    Increment() {
      this.count += 1;
    },
    Decrement() {
      this.count -= 1;
    }
  }
};
</script>


<!--For Style-Sheet -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
